/keys.py
/.idea
/venv/
/database.csv
/database.json
/missing_links.txt
/scraped_courses.txt
/groupgen.session
/group_names.txt
/__pycache__
/.backimport.jpeg
/courses1.csv
/courses2.csv
/courses3.csv
/courses4.csv
/courses_def.csv
/courses.csv
/try.csv
/courses_magistrale.csv
/courses_triennale.csv
/courses_bachelor.csv
